$headerFooterColor: #282828;
$titleSectionColor: #959595;
$centralSectionColor: #fff;
$bottomSectionBackground: #bbb;
$lastSectionBackground: #878787;
$cardDescriptionBackground: #b9b9b9;

$mainHeadingColor: #fff;
$titleTextColor: #575757;
$centralHeadingColor: #9f9f9f;
$figcaptionColor: #c1c1c1;
$bottomHeadingColor: #656565;
$bottomTextColor: #a1a1a1;
$lastHeadingColor: #e7e7e7;
$lastTextColor: #626262;

$headerButtonColor: #d8d8d8;
$headerNavColor: #afafaf;
$contentButtonColor: #50ec9d;
$contentButtonTextColor: #fff;

$cardBorderColor: #9d9d9d;
$inputBorderColor: #cfcfcf;