.button {
  width: 372px;
  height: 86px;
  border: 3px solid darken($contentButtonColor, 16%);
  box-sizing: border-box;
  border-radius: 8px;
  background-color: $contentButtonColor;
  background-image: linear-gradient(to top, darken($contentButtonColor, 20%), lighten($contentButtonColor, 10%));
  font-size: 36px;
  color: $contentButtonTextColor;
  
  @media all and (max-width: 768px) {
    height: 56px;
    width: 230px;
    font-size: 26px;
  }

  &--title-margin {
    margin: 30px 0;
    
    @media all and (max-width: 1200px) {
      margin: 20px 0;
    }
  }
}